@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Karla:wght@200;400&display=swap');

:root{
    --principal: #f2f2f2;
    --secundario: #333333;
    --tercer: rgba(91, 133, 217, 1); 
    --letra2: #000000;
    --letra3: rgba(216, 221, 219, 1);
    --exo2: 'Exo 2', sans-serif;
    --karla: 'Karla', sans-serif;
}

body{
    font-family: var(--karla);
}

/* -- MAIN -- */
h2, h3{
    font-family: var(--exo2);
    margin-top: 12px;
    margin-bottom: 12px;
    color: var(--tercer);
}
h2{
    font-weight: 700;
}
h3{
    font-weight: 600;
}

#caseContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}
#caseContactInfo{
    padding: 4px;
}
#caseContactInfo > ul{
    list-style-type: none;
    margin-left: -30px;
    font-weight: bold;
}
#caseContactInfo ul li ul {
    font-weight: 500;
    margin-bottom: 8px;
}
#formularioContacto{
    background-color: var(--principal);
    border-radius: 25px;
    padding: 16px;
    width: 100%;
}
#formularioContacto form{
    display: flex;
    flex-direction: column;
}

/* -- FORMULARIO -- */
label{
    margin-bottom: 4px;
    font-family: var(--exo2);
    font-weight: 500;
}
input, textarea, select{
    margin-bottom: 8px;
    border-radius: 12px;
    border: 0px;
}
textarea{
    resize: none;
    padding: 4px;
}
input{
    padding: 4px;
}
#enviar{
    background-color: var(--tercer);
    color: var(--principal);
    font-weight: 700;
    width: 25%;
    margin: auto;
    margin-top: 8px;
}

/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 601px) and (max-width: 960px){

}

@media only screen and (min-width: 960px){
    #caseContact{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 24px;
    }
    #caseContactInfo{
        width: 50%;
    }
    #formularioContacto{
        width: 50%;
    }
}