@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Karla:wght@200;400&display=swap');

:root{
    --principal: #f2f2f2;
    --secundario: #333333;
    --tercer: rgba(91, 133, 217, 1); 
    --letra2: #000000;
    --letra3: rgba(216, 221, 219, 1);
    --exo2: 'Exo 2', sans-serif;
    --karla: 'Karla', sans-serif;
}

/* -- SLIDER -- */
#imgSlider1, #imgSlider2, #imgSlider3{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#imgSlider1{
    background-image: url(../img/slider1.jpg);
}
#imgSlider2{
    background-image: url(../img/slider2.jpg);
}
#imgSlider3{
    background-image: url(../img/slider3.jpg);
}
.imgSliderCapa{
    background-color: rgba(29, 29, 29, 0.742);
    height: 100%;
    width: 100%;
    position: relative;
}
/* SHOP */
.shop, .shopInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.shop{
    height: 450px;
}
.shopInfo{
    width: 100%;
}
.shopInfo h2{
    font-family: var(--exo2);
    font-weight: 700;
    color: var(--secundario);
}
.shopInfo a{
    text-decoration: none;
    font-family: var(--karla);
    font-weight: 600;
    color: var(--secundario);
    
}
.shopBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.card {
    max-width: 200px;
    display: flow;
    max-height: 350px;
    text-align: center;
}
.imgContainer {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.imgContainer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
/* SECTION */
#sobreNosotros{
    background-image: url(../img/sobreNosotros1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 4px solid var(--secundario);
    border-bottom: 4px solid var(--secundario);
}
#sobreNosotrosInfo{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(29, 29, 29, 0.742);
}
#sobreNosotrosInfo h2{
    color: var(--principal);
    font-family: var(--exo2);
    font-weight: 700;
    text-transform: capitalize;
}
#sobreNosotrosInfo p{
    color: #d8dddb !important;
    font-family: var(--karla);
    font-weight: 200;
    font-size: 16px;
    padding: 4px;
    text-align: center;
}
#sobreNosotrosInfo button{
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: var(--tercer);
    border-radius: 25px;
    border: 0px;
}
#sobreNosotrosInfo button a{
    color: var(--principal);
    font-family: var(--exo2);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

#sobreNosotrosPC{
    display: none;
}

#marcas{
    background-color: var(--tercer);
}

/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 601px) and (max-width: 960px){

}

@media only screen and (min-width: 960px){
    /* -- SECTION -- */
    #sobreNosotrosPC{
        background-color: var(--secundario) !important;
        padding: 18px;
        height: 500px;
    }
    #sobreNosotrosPC .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .container{
        margin-bottom: 30px;
    }
    #sobreNosotrosPCFotos{
        display: flex;
        flex-direction: row;
    }
    #sobreNosotrosPCFotos img{
        border-radius: 22px;
    }
    #foto1{
        position: relative;
        top: 100px;
        left: 80px;
    }
    #sobreNosotros{
        display: none;
    }
    #sobreNosotrosPC{
        display: block;
    }
    #sobreNosotrosPCInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        text-align: right;
        width: 500px;
        height: 400px;
        margin-top: 38px;
    }
    #sobreNosotrosPCInfo h2{
        color: var(--principal);
        font-family: var(--exo2);
        font-weight: 700;
        text-transform: capitalize;
    }
    #sobreNosotrosPCInfo p{
        color: #d8dddb !important;
        font-family: var(--karla);
        font-weight: 200;
        font-size: 18px;
    }
    #sobreNosotrosPCInfo button{
        padding: 10px;
        padding-left: 18px;
        padding-right: 18px;
        background-color: var(--tercer);
        border-radius: 25px;
        border: 0px;
    }
    #sobreNosotrosPCInfo button a{
        color: var(--principal);
        font-family: var(--exo2);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
    }
}