@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Karla:wght@200;400&display=swap');

:root{
    --principal: #f2f2f2;
    --secundario: #333333;
    --tercer: rgba(91, 133, 217, 1); 
    --letra2: #000000;
    --letra3: rgba(216, 221, 219, 1);
    --exo2: 'Exo 2', sans-serif;
    --karla: 'Karla', sans-serif;
}

.card {
    max-width: 200px;
    display: flow;
    align-items: center;
    max-height: 350px;
    text-align: center;
    border: 0px;
    padding-bottom: 6px;
}
.card-title{
    font-family: var(--exo2);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}
.card-text{
    font-weight: 600;
    color: var(--tercer);
}
.imgContainer {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}

.imgContainer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.card-button{
    background-color: var(--tercer);
    color: var(--principal);
    padding: 8px 12px;
    border-radius: 25px;
    text-decoration: none;
    font-family: var(--exo2);
    font-weight: 600;
}

/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 601px) and (max-width: 960px){
    .shopBody{
        justify-content: space-between;
    }
}

@media only screen and (min-width: 960px){
    /* -- SECTION -- */
    #sobreNosotrosPC{
        background-color: var(--secundario) !important;
        padding: 18px;
        height: 500px;
    }
    #sobreNosotrosPC .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .container{
        margin-bottom: 30px;
    }
    #sobreNosotrosPCFotos{
        display: flex;
        flex-direction: row;
    }
    #sobreNosotrosPCFotos img{
        border-radius: 22px;
    }
    #foto1{
        position: relative;
        top: 100px;
        left: 80px;
    }
    #sobreNosotros{
        display: none;
    }
    #sobreNosotrosPC{
        display: block;
    }
    #sobreNosotrosPCInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        text-align: right;
        width: 500px;
        height: 400px;
        margin-top: 38px;
    }
    #sobreNosotrosPCInfo h2{
        color: var(--principal);
        font-family: var(--exo2);
        font-weight: 700;
        text-transform: capitalize;
    }
    #sobreNosotrosPCInfo p{
        color: #d8dddb !important;
        font-family: var(--karla);
        font-weight: 200;
        font-size: 18px;
    }
    #sobreNosotrosPCInfo button{
        padding: 10px;
        padding-left: 18px;
        padding-right: 18px;
        background-color: var(--tercer);
        border-radius: 25px;
        border: 0px;
    }
    #sobreNosotrosPCInfo button a{
        color: var(--principal);
        font-family: var(--exo2);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
    }
    .shopBody{
        justify-content: space-between;
    }
}