@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Karla:wght@200;400&display=swap');

:root{
    --principal: #f2f2f2;
    --secundario: #333333;
    --tercer: rgba(91, 133, 217, 1); 
    --cuarto: #809bbf;
    --letra2: #000000;
    --letra3: rgba(216, 221, 219, 1);
    --exo2: 'Exo 2', sans-serif;
    --karla: 'Karla', sans-serif;
}
body{
    font-family: var(--karla);
}
h2{
    font-family: var(--exo2);
    margin-top: 12px;
    margin-bottom: 12px;
    color: var(--tercer);
    font-weight: 700;
}
h5{
    font-size: 18px;
}
.case{
    background-color: var(--principal);
    border-radius: 25px;
    width: 100%;
    padding: 18px;
    margin-bottom: 56px;
    margin-top: 56px;
}
.caseProfile{
    margin: 16px;
    flex-direction: column;
}
#imgProfile{
    border-radius: 50%;
    width: 200px;
    overflow: hidden;
    background-color: var(--cuarto);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ventas{
    margin-left: 18px;
    display: flex;
    flex-wrap: wrap;
}
.card, .disabled .card {
    max-width: 200px;
    display: flow;
    max-height: 350px;
    text-align: center;
    overflow: hidden;
    margin-right: 4px;
}
a{
    margin: none;
    padding: none;
}
.imgContainer {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.imgContainer img {
    width: 199px;
    height: 200px;
    object-fit: cover;
}
.caseProfile-Info{
    width: 100%;
    margin-left: 24px;
}
.caseProfileTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.card{
    background-color: transparent !important;
}
/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 601px) and (max-width: 960px){

}

@media only screen and (min-width: 960px){
    h5{
        font-size: 20px;
    }
    .caseProfile{
        display: flex;
        flex-direction: row;
    }
}