@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Karla:wght@200;400&display=swap');

:root{
    --principal: #f2f2f2;
    --secundario: #333333;
    --tercer: rgba(91, 133, 217, 1); 
    --letra2: #000000;
    --letra3: rgba(216, 221, 219, 1);
    --exo2: 'Exo 2', sans-serif;
    --karla: 'Karla', sans-serif;
}

header{
    background-color: var(--principal);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#buscador {
    background-color: var(--principal);
    color: var(--secundario);
    border: 2px solid var(--secundario);
    border-radius: 25px;
    width: 100%; 
    font-family: var(--karla);
    box-sizing: border-box;
    font-size: 14px; 
    padding: 8px; 
}

#registroButton{
    background-color: var(--principal);
    border: 2px solid var(--tercer);
    border-radius: 25px;
    padding: 6px;
    font-size: 12px;
    margin: 2px; 
}
#registroButton a{
    color: var(--tercer);
    text-decoration: none;
    font-family: var(--exo2);
    font-weight: 600;
    
}
#registroButtonPC{
    display: none;
}


/* -- FOOTER -- */
footer{
    height: auto;
    background-color: var(--principal);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.infoFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
#infoFooterMenu{
    display: flex;
    flex-direction: column;
}
.infoFooter h3{
    text-transform: uppercase;
    color: var(--tercer);
    font-family: var(--exo2);
    font-size: 20px;
}
#infoFooterMenu a{
    color: var(--secundario);
    text-decoration: none;
}
.social-media{
    text-align: center;
}
.social-media a{
    margin: 12px;
    text-decoration: none;
}
.copyright{
    bottom: 0px;
    text-align: center;
    margin: 12px 0px;
    font-size: 12px;
    color: var(--tercer);
    font-family: var(--karla);
}

#marcas{
    background-color: var(--tercer);
}
/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 601px) and (max-width: 960px){

}

@media only screen and (min-width: 960px){
    /* -- HEADER -- */
    #buscador {
        font-size: 14px; 
        padding: 10px;
        width: 500px;
    }
    #registroButton{
        padding: 10px;
        font-size: 16px; 
    }
    #registroButtonMobile{
        display: none;
    }
    #registroButtonPC{
        display: block;
    }
    /* FOOTER */
    .infoFooter{
        display: grid;
        grid-template-columns: repeat(4, 200px);
        justify-content: space-evenly;
        align-items: start;
        margin-top: 28px;
    }
}