@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Karla:wght@200;400&display=swap');

:root{
    --principal: #f2f2f2;
    --secundario: #333333;
    --tercer: rgba(91, 133, 217, 1); 
    --letra2: #000000;
    --letra3: rgba(216, 221, 219, 1);
    --exo2: 'Exo 2', sans-serif;
    --karla: 'Karla', sans-serif;
}
body{
    font-family: var(--karla);
}
h2{
    font-family: var(--exo2);
    margin-top: 12px;
    margin-bottom: 12px;
    color: var(--tercer);
    font-weight: 700;
    margin-left: 18px;
}
.case{
    background-color: var(--principal);
    border-radius: 25px;
    width: 100%;
    padding: 18px;
    margin-bottom: 26px;
}
.case form{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 4px;
    font-size: 20px;
}
input, textarea, select{
    margin-bottom: 8px;
    border-radius: 12px;
    border: 0px;
    font-size: 18px;
}
textarea{
    resize: none;
    padding: 4px;
}
input{
    padding: 4px;
}
#foto{
    border-radius: 0px;
}
#enviar{
    background-color: var(--tercer);
    color: var(--letra3);
    font-weight: 700;
    width: 25%;
    margin: auto;
    margin-top: 8px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
/* -- RESPONSIVE -- */
@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 601px) and (max-width: 960px){

}

@media only screen and (min-width: 960px){
    
}