.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 200px;
}

.card {
    max-width: 200px;
    display: flow;
    max-height: 350px;
    text-align: center;
}
.imgContainer {
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.imgContainer img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

